body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

header p {
    margin: 5px 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about h2,
.projects h2,
.contact h2 {
    color: #3498db;
}

.project {
    margin-bottom: 20px;
}


.contact a {
    color: #3498db;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}
